.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 2px 32px;
  border: 0;
  
}

ul li{
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: inline-block;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  margin-right: 10px;
}





